<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>
        <form>
            <input type="text" placeholder="Location">
            <input type="submit" value="Search" id="submit">
        </form>
        <br>
        <p><b><span id='title-1'>Location:</span></b> <span id='message-1'></span></p>
        <p><b><span id='title-2'>Current Temperature:</span></b> <span id='message-2'></span><span class='symbol'> <b>&#8451</b></span></p>
        <p><b><span id='title-3'>Maximum Temperature:</span></b> <span id='message-3'></span><span class='symbol'> <b>&#8451</b></span></p>
        <p><b><span id='title-4'>Minimum Temperature:</span></b> <span id='message-4'></span><span class='symbol'> <b>&#8451</b></span></p>
        <p><b><span id='title-5'>Description:</span></b> <span id='message-5'></span></p>

    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>